:root {
    --dark-bg: rgba(31, 31, 31, 1);
    --dark-blue: 0px 0px 15px 0px rgba(0, 114, 206, 1);
    --dark-grey: rgba(56, 56, 56, 1);
    --grey: rgba(196, 196, 196, 1);
    --playstation-blue: rgba(0, 114, 206, 1);
    --white: rgba(255, 255, 255, 1);
  }
  