.slide {
  background-color: #9ca3af;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.slide .div {
  background-color: #9ca3af;
  height: 1080px;
  position: relative;
  width: 2000px;
}

.slide .frame {
  background-color: #d1d5db;
  border-radius: 35px;
  height: 774px;
  left: 59px;
  position: absolute;
  top: 153px;
  width: 1026px;
}

.slide .frame-wrapper {
  height: 620px;
  left: 62px;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 95px;
  width: 924px;
}

.slide .frame-2 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: 7px;
}

.slide .div-wrapper {
  height: 125px;
  position: relative;
}

.slide .frame-3 {
  background-color: #ffffff;
  border-radius: 20px;
  height: 125px;
  position: relative;
  width: 882px;
}

.slide .asal-alias-tujuan {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 21px;
}

.slide .jadwal-berangkat {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 58px;
  white-space: nowrap;
}

.slide .depart-on-berangkat {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 659px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 75px;
  white-space: nowrap;
}

.slide .pesawat-maskapai {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 84px;
  white-space: nowrap;
}

.slide .overlap-group {
  background-color: #93c5fd;
  border-radius: 82px;
  height: 35px;
  left: 719px;
  position: absolute;
  top: 23px;
  width: 143px;
}

.slide .jenis {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
}

.slide .text-wrapper {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 35px;
  font-weight: 700;
  left: 62px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 39px;
  white-space: nowrap;
}

.slide .rectangle {
  background-color: #d1d5db;
  border-radius: 35px;
  height: 774px;
  left: 1143px;
  position: absolute;
  top: 153px;
  width: 718px;
}
